a:hover{
    .buy_icon{
        background: rgba(#9e00bb,0.8);
    }
}
.buy_icon{
    transition: .4s;
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 97px;
    height: 97px;
    background: rgba(#ff03c1,0.7);
    border-radius:99em; 
    margin: 0 19px 14px 0;
    z-index: 1;
    &:before{
      content: '';
      display: block;
      width: 54px;
      height: 48px;
      background: url(../images/buttom/icon-car.png) no-repeat top left / cover;
    }
  }

  @include screen(768px){
    .buy_icon{
      width: 35px;
      height: 35px;
      margin: 0 6px 6px 0;
      &:before{
        width: 20px;
        height: 17px;
      }
    }
  }