#section-banner{
    .section-img{
        width: 100%;
        overflow: hidden;
        a{
            padding-bottom: 25%;
        }
      
    }    
}

@include screen(640px){
    #section-banner .section-img a {
        padding-bottom: 34%;
    }
}