#section-2{
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 59.4%;
    background: url(../images/section_2/part2-bg.jpg) no-repeat center top / cover ;
    .section-img{
        position: absolute;
        overflow: hidden;
        
    }
    .section-photo-1,.section-photo-4{
       width:18.08%;
       border: 8px solid #000; 
       z-index:1;
        a{
            padding-bottom: 134.76%;
        }
    }
    .section-photo-2,.section-photo-3{
        width:28.692%;
        a{
            padding-bottom: 133.335%;
        }
    }
    .section-photo-1{
        bottom: 9%;
        left: 6%; 
    }
    .section-photo-2{
        top: 10.7%;
        left: 21%;
    }
    .section-photo-3{
        top: 24.9%;
        left: 50.2%;
    }
    .section-photo-4{
        top: 9%;
        right: 6.6%;
    }
}

@include screen(768px){
    #section-2 .section-photo-1, #section-2 .section-photo-4{
        border: 4px solid #000;
    }
}

@include screen(640px){
    #section-2 .section-photo-1, #section-2 .section-photo-4{
        border: 2px solid #000;
    }
}