section#section-banner
  .pc_use
    .section-img
      a(href="#" target="_blank")
        .section-img-photo
          img(src="images/banner/banner-pc.jpg")
  .mo_use
    .section-img
      a(href="#" target="_blank")
        .section-img-photo
          img(src="images/banner/banner-m.jpg")  