section#section-buy
  .item_slick
    ul
      li
        a(href="https://www.iroo.com/product-detail/07123862500036" target="_blank")
          .item_9_photo
            i.buy_icon
            .item_img
              img(src="images/buy/product-1-1.jpg")
          .item_txt
            h3 童裝-iRoo x LamiGirls 閃電流行棉質短袖Tshirt
            p  尺碼：36~40
      li
        a(href="https://www.iroo.com/product-detail/07123872600036" target="_blank")
          .item_9_photo
            i.buy_icon
            .item_img
              img(src="images/buy/product-1-2.jpg")
          .item_txt
            h3 童裝-iRoo x LamiGirls 閃電流行棉質短袖Tshirt
            p  尺碼：36~40
      li
        a(href="https://www.iroo.com/product-detail/07123852900036" target="_blank")
          .item_9_photo
            i.buy_icon
            .item_img
              img(src="images/buy/product-2-1.jpg")
          .item_txt
            h3 iRoo x LamiGirls刺繡流行棉質短袖Tshirt
            p 尺碼：36~40
      li
        a(href="https://www.iroo.com/product-detail/07123852600036" target="_blank")
          .item_9_photo
            i.buy_icon
            .item_img
              img(src="images/buy/product-2-2.jpg")
          .item_txt
            h3 iRoo x LamiGirls刺繡流行棉質短袖Tshirt
            p 尺碼：36~40
      li
        a(href="https://www.iroo.com/product-detail/07123832800036" target="_blank")
          .item_9_photo
            i.buy_icon
            .item_img
              img(src="images/buy/product-3-1.jpg")
          .item_txt
            h3 iRoo x LamiGirls 配色流行棉質短袖Tshirt
            p 尺碼：36~40
      li
        a(href="https://www.iroo.com/product-detail/07123832700036" target="_blank")
          .item_9_photo
            i.buy_icon
            .item_img
              img(src="images/buy/product-3-2.jpg")
          .item_txt
            h3 iRoo x LamiGirls 配色流行棉質短袖Tshirt
            p 尺碼：36~40
      li
        a(href="https://www.iroo.com/product-detail/07123812800036" target="_blank")
          .item_9_photo
            i.buy_icon
            .item_img
              img(src="images/buy/product-4-1.jpg")
          .item_txt
            h3 男女共穿-iRoo x LamiGirls 閃電流行棉質短袖Tshirt
            p 尺碼：36~44
      li
        a(href="https://www.iroo.com/product-detail/07123812500036" target="_blank")
          .item_9_photo
            i.buy_icon
            .item_img
              img(src="images/buy/product-4-2.jpg")
          .item_txt
            h3 男女共穿-iRoo x LamiGirls 閃電流行棉質短袖Tshirt
            p 尺碼：36~44
      li
        a(href="https://www.iroo.com/product-detail/07123842900038" target="_blank")
          .item_9_photo
            i.buy_icon
            .item_img
              img(src="images/buy/product-5-1.jpg")
          .item_txt
            h3 男女共穿-iRoo x LamiGirls 流行棉質短袖Tshirt
            p 尺碼：36~44
      li
        a(href="https://www.iroo.com/product-detail/07123842800038" target="_blank")
          .item_9_photo
            i.buy_icon
            .item_img
              img(src="images/buy/product-5-2.jpg")
          .item_txt
            h3 男女共穿-iRoo x LamiGirls 流行棉質短袖Tshirt
            p 尺碼：36~44      