section#section-buy
  .item_slick
    ul
      li
        a(href="#" target="_blank")
          .item_9_photo
            i.buy_icon
            .item_img
              img(src="images/buy/product-1-1.jpg")
          .item_txt
            h3 品名品名品名品名品名
            p 男女共穿，尺碼36
      li
        a(href="#" target="_blank")
          .item_9_photo
            i.buy_icon
            .item_img
              img(src="images/buy/product-1-2.jpg")
          .item_txt
            h3 品名品名品名品名品名
            p 男女共穿，尺碼36
      li
        a(href="#" target="_blank")
          .item_9_photo
            i.buy_icon
            .item_img
              img(src="images/buy/product-2-1.jpg")
          .item_txt
            h3 品名品名品名品名品名
            p 男女共穿，尺碼36
      li
        a(href="#" target="_blank")
          .item_9_photo
            i.buy_icon
            .item_img
              img(src="images/buy/product-2-2.jpg")
          .item_txt
            h3 品名品名品名品名品名
            p 男女共穿，尺碼36
      li
        a(href="#" target="_blank")
          .item_9_photo
            i.buy_icon
            .item_img
              img(src="images/buy/product-3-1.jpg")
          .item_txt
            h3 品名品名品名品名品名
            p 男女共穿，尺碼36
      li
        a(href="#" target="_blank")
          .item_9_photo
            i.buy_icon
            .item_img
              img(src="images/buy/product-3-2.jpg")
          .item_txt
            h3 品名品名品名品名品名
            p 男女共穿，尺碼36
      li
        a(href="#" target="_blank")
          .item_9_photo
            i.buy_icon
            .item_img
              img(src="images/buy/product-4-1.jpg")
          .item_txt
            h3 品名品名品名品名品名
            p 男女共穿，尺碼36
      li
        a(href="#" target="_blank")
          .item_9_photo
            i.buy_icon
            .item_img
              img(src="images/buy/product-4-2.jpg")
          .item_txt
            h3 品名品名品名品名品名
            p 男女共穿，尺碼36
      li
        a(href="#" target="_blank")
          .item_9_photo
            i.buy_icon
            .item_img
              img(src="images/buy/product-5-1.jpg")
          .item_txt
            h3 品名品名品名品名品名
            p 男女共穿，尺碼36
      li
        a(href="#" target="_blank")
          .item_9_photo
            i.buy_icon
            .item_img
              img(src="images/buy/product-5-2.jpg")
          .item_txt
            h3 品名品名品名品名品名
            p 男女共穿，尺碼36      