section#section-kv
  .kv-img-box
    .kv-img
      img(src="images/kv/kv-bg-1.jpg")
    .kv-img
      img(src="images/kv/kv-bg-2.jpg")
    .kv-img
      img(src="images/kv/kv-bg-3.jpg")
  .kv-txt-box
    img.kv-txt-1(src="images/kv/kv-tit-1.png")
    img.kv-txt-2(src="images/kv/kv-tit-2.png")
    img.kv-txt-3(src="images/kv/kv-tit-3.png")
    img.kv-txt-4(src="images/kv/kv-tit-4.png")
      