section#section-5
  .section-5-box
    .title
      h2 經典logo T是情侶裝的最佳選擇！
      h3 -此款為男女共穿-
    .section-img
      a(href="https://www.iroo.com/product-detail/07123842900038" target="_blank")
        i.buy_icon
        .section-img-photo
          img(src="images/section_5/part5-1.jpg")
    .section-img
      a(href="https://www.iroo.com/product-detail/07123842800038" target="_blank")
        i.buy_icon
        .section-img-photo
          img(src="images/section_5/part5-2.jpg")