section#section-2
  .section-img.section-photo-1
    a(href="#" target="_blank")
      div.section-img-photo
        img(src="images/section_2/part2-1a.jpg")

  .section-img.section-photo-2
    a(href="#" target="_blank")
      div.section-img-photo
        img(src="images/section_2/part2-1b.png")

  .section-img.section-photo-3
    a(href="#" target="_blank")
      div.section-img-photo
        img(src="images/section_2/part2-2b.png")

  .section-img.section-photo-4
    a(href="#" target="_blank")
      div.section-img-photo
        img(src="images/section_2/part2-2a.jpg")