section#section-1
  .title
    h2 我可愛嗎？
    h3 舒適童裝登場。
  .section-img
    a(href="#" target="_blank")
      i.buy_icon
      .section-img-photo
        img(src="images/section_1/part1-1.jpg")
  .section-img
    a(href="#" target="_blank")
      i.buy_icon
      .section-img-photo
        img(src="images/section_1/part1-2.jpg")

