section#section-4
  .section-4-box
    .title
      h2 穿上閃電T成為最耀眼的焦點！
      h3 -此款為男女共穿-
    .section-img
      a(href="#" target="_blank")
        i.buy_icon
        .section-img-photo
          img(src="images/section_4/part4-1.jpg")
    .section-img
      a(href="#" target="_blank")
        i.buy_icon
        .section-img-photo
          img(src="images/section_4/part4-2.jpg")
    .section-img
      a(href="#" target="_blank")
        i.buy_icon
        .section-img-photo
          img(src="images/section_4/part4-3.jpg")