section#section-3
  .section-3-img
    a(href="https://www.iroo.com/product-detail/07123832800036")
      .section-3-bg
      i.buy_icon
      img.img-photo(src="images/section_3/part3-1.png")  
  .section-3-img
    a(href="https://www.iroo.com/product-detail/07123832700036")
      .section-3-bg
      i.buy_icon
      img.img-photo(src="images/section_3/part3-2.png")  
