section#section-video
  .video-box
    iframe(src="https://www.youtube.com/embed/1FUDJpB0S70", frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
  .video-txt
    h2 iROO X LamiGirls 聯名企劃活力登場
    p iROO與時尚女團LamiGirls共同企劃推出時尚又百搭的T恤，此次形象以Disco風搭配霓虹色光營造出微復古的氛圍，顛覆既往的T恤穿搭印象，讓大家都能運用T恤穿出自我風格。