header
  .iroo_logo
    a(href="https://www.iroo.com" target="_blank")
      img(src="images/header/logo-1.svg")
  .lamigo_logo
    a(href="#" target="_blank")
      img(src="images/header/logo-2.svg")